# Copyright 2025 Solace Corporation. All rights reserved.

name: Create Release
run-name: >-
  ${{
    format('v{0}.{1}.{2}',
           inputs.version_major,
           inputs.version_minor,
           inputs.version_patch)
  }}

on:
  workflow_dispatch:
    inputs:
      version_major:
        description: "Major version of the wireshark tag to use when building the plugin"
        type: number
        required: true
        default: 4
      version_minor:
        description: "Minor version of the wireshark tag to use when building the plugin"
        type: number
        required: true
        default: 6
      version_patch:
        description: "Patch version for the SMF plugin"
        type: number
        required: true

env:
  LINUX_PLUGIN_NAME: wireshark-smf-linux-x86_64.tar.gz
  WINDOWS_PLUGIN_NAME: wireshark-smf-windows-x64.zip
  MACOS_PLUGIN_NAME: wireshark-smf-macos-arm64.tar.gz

jobs:
  build_plugin:
    name: Build All Plugins
    uses: ./.github/workflows/build_plugin.yml
    with:
      version_major: ${{ fromJSON(inputs.version_major) }}
      version_minor: ${{ fromJSON(inputs.version_minor) }}
      version_patch: ${{ fromJSON(inputs.version_patch) }}

  create_release:
    name: Create Draft Release
    runs-on: ubuntu-latest
    needs: [build_plugin]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          sparse-checkout: .github/workflows/docs/wireshark_smf_${{ inputs.version_major }}-${{ inputs.version_minor }}-x_instructions.md

      # The only way to share artifacts between workflows is to upload and download them.
      - name: Download Artifacts
        uses: actions/download-artifact@v5

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
            name: "v${{ inputs.version_major }}.${{ inputs.version_minor }}.${{ inputs.version_patch }}"
            tag: "v${{ inputs.version_major }}.${{ inputs.version_minor }}.${{ inputs.version_patch }}"
            artifacts: "${{ env.LINUX_PLUGIN_NAME }}/*, ${{ env.WINDOWS_PLUGIN_NAME }}/*, ${{ env.MACOS_PLUGIN_NAME }}/*"
            bodyFile: "${{ github.workspace }}/.github/workflows/docs/wireshark_smf_${{ inputs.version_major }}-${{ inputs.version_minor }}-x_instructions.md"
            draft: true
