name: Build Linux

on:
  workflow_call:
    inputs:
      MAJOR_VERSION:
        description: "Major version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '4'
      MINOR_VERSION:
        description: "Minor version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '6'
      PATCH_VERSION:
        description: "Patch version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '1'
      SMF_PLUGIN_PATCH_VERSION:
        description: "PATCH for SMF plugin"
        type: string
        required: true
        default: '0'

  workflow_dispatch:
    inputs:
      MAJOR_VERSION:
        description: "Major version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '4'
      MINOR_VERSION:
        description: "Minor version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '6'
      PATCH_VERSION:
        description: "Patch version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '1'
      SMF_PLUGIN_PATCH_VERSION:
        description: "PATCH for SMF plugin"
        type: string
        required: true
        default: '0'

jobs:
  ubuntu:
    name: Build on Linux
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache Wireshark Install
        id: cache-wireshark-install
        uses: actions/cache@v4
        with:
          path: wireshark-install
          key: wireshark-v${{ inputs.MAJOR_VERSION }}.${{ inputs.MINOR_VERSION }}.${{ inputs.PATCH_VERSION }}-linux

      - name: Create Wireshark Build Directory
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: mkdir wireshark-install

      - name: Checkout Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: wireshark/wireshark
          path: wireshark-src
          ref: v${{ inputs.MAJOR_VERSION }}.${{ inputs.MINOR_VERSION }}.${{ inputs.PATCH_VERSION }}

      - name: Install Wireshark Dependencies
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: sudo wireshark-src/tools/debian-setup.sh

      - name: Configure Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: >-
          cmake -G Ninja -S wireshark-src -B wireshark-build
          -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/wireshark-install"
          -DBUILD_wireshark=OFF
          -DBUILD_tshark=OFF
          -DBUILD_editcap=OFF
          -DBUILD_capinfos=OFF
          -DBUILD_mmdbresolve=OFF
          -DENABLE_XXHASH=OFF
          -DENABLE_PCAP=OFF

      - name: Build Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: cmake --build wireshark-build

      - name: Install Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: cmake --build wireshark-build --target install

      - name: Install Wireshark Headers
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: cmake --build wireshark-build --target install-headers

      - name: Configure Plugin
        run: >-
          cmake -G Ninja -S . -B build
          -DCMAKE_PREFIX_PATH="${{ github.workspace }}/wireshark-install"
          -DWireshark_VERSION="${{ inputs.MAJOR_VERSION }}.${{ inputs.MINOR_VERSION }}.${{ inputs.PATCH_VERSION }}"
          -DSMF_PLUGIN_MAJOR_VERSION=${{ inputs.MAJOR_VERSION }}
          -DSMF_PLUGIN_MINOR_VERSION=${{ inputs.MINOR_VERSION }}
          -DSMF_PLUGIN_PATCH_VERSION=${{ inputs.SMF_PLUGIN_PATCH_VERSION }}

      - name: Build Plugin
        run: cmake --build build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wireshark-smf-linux-x86_64.tar.gz
          path: build/smf.so
          overwrite: true
