name: Build Windows

on:
  workflow_call:
    inputs:
      MAJOR_VERSION:
        description: "Major version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '4'
      MINOR_VERSION:
        description: "Minor version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '6'
      PATCH_VERSION:
        description: "Patch version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '1'
      SMF_PLUGIN_PATCH_VERSION:
        description: "PATCH for SMF plugin"
        type: string
        required: true
        default: ''

  workflow_dispatch:
    inputs:
      MAJOR_VERSION:
        description: "Major version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '4'
      MINOR_VERSION:
        description: "Minor version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '6'
      PATCH_VERSION:
        description: "Patch version of the wireshark tag to use when building plugin"
        type: string
        required: true
        default: '1'
      SMF_PLUGIN_PATCH_VERSION:
        description: "PATCH for SMF plugin"
        type: string
        required: true
        default: ''

jobs:
  windows:
    name: Build on Windows
    runs-on: windows-2022
    env:
      WIRESHARK_BASE_DIR: ${{ github.workspace }}/wireshark-libs
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup MSVC Environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Cache Wireshark Libs
        id: cache-wireshark-libs
        uses: actions/cache@v4
        with:
          path: ${{ env.WIRESHARK_BASE_DIR }}
          key: wireshark-libs-v${{ inputs.MAJOR_VERSION }}.${{ inputs.MINOR_VERSION }}-windows

      - name: Cache Wireshark Install
        id: cache-wireshark-install
        uses: actions/cache@v4
        with:
          path: wireshark-install
          key: wireshark-v${{ inputs.MAJOR_VERSION }}.${{ inputs.MINOR_VERSION }}.${{ inputs.PATCH_VERSION }}-windows

      - name: Create Wireshark Build Directory
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: |
          mkdir wireshark-install

      - name: Checkout Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: wireshark/wireshark
          path: wireshark-src
          ref: v${{ inputs.MAJOR_VERSION }}.${{ inputs.MINOR_VERSION }}.${{ inputs.PATCH_VERSION }}

      - name: Install Wireshark Dependencies
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: choco install winflexbison3 --no-progress

      - name: Install Qt
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        uses: jurplel/install-qt-action@v4
        with:
          modules: "qt5compat"

      - name: Configure Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: >-
          cmake -G Ninja -S wireshark-src -B wireshark-build
          -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/wireshark-install"
          -DBUILD_wireshark=OFF
          -DBUILD_tshark=OFF
          -DBUILD_editcap=OFF
          -DBUILD_capinfos=OFF
          -DBUILD_mmdbresolve=OFF
          -DENABLE_XXHASH=OFF
          -DENABLE_PCAP=OFF

      - name: Build Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: cmake --build wireshark-build --target install

      - name: Install Wireshark
        if: steps.cache-wireshark-install.outputs.cache-hit != 'true'
        run: cmake --build wireshark-build --target install-headers

      - name: Locate Windows 3rd Party Libs
        run: |
          $RequiredLibs = @("glib-2.0.lib", "zlib.lib")
          $FoundPaths = @()

          foreach ($LibName in $RequiredLibs) {
              $AllCopies = Get-ChildItem -Path "${{ env.WIRESHARK_BASE_DIR }}" -Filter $LibName -Recurse -File

              $BestMatch = $AllCopies | Where-Object {
                  $_.FullName -match "vcpkg-export" -and $_.FullName -notmatch "\\debug\\"
              } | Select-Object -First 1

              if (-not $BestMatch) {
                  Write-Error "Could not find Release version of $LibName inside a vcpkg-export folder!"
                  exit 1
              }

              $InstallRoot = $BestMatch.Directory.Parent.FullName
              $FoundPaths += $InstallRoot
          }

          $FinalPath = ($FoundPaths | Select-Object -Unique) -join ";"

          Write-Host "Selected Library Path: $FinalPath"
          echo "WS_DEP_PATH=$FinalPath" >> $env:GITHUB_ENV

      - name: Configure Plugin
        run: >-
          cmake -G Ninja -S . -B build
          -DCMAKE_PREFIX_PATH="${{ github.workspace }}/wireshark-install;${{ github.workspace }}/wireshark-build;${{ env.WS_DEP_PATH }}"
          -DCMAKE_BUILD_TYPE=RelWithDebInfo
          -DCMAKE_C_FLAGS="/std:c11"
          -DWireshark_VERSION="${{ inputs.MAJOR_VERSION }}.${{ inputs.MINOR_VERSION }}.${{ inputs.PATCH_VERSION }}"
          -DSMF_PLUGIN_MAJOR_VERSION=${{ inputs.MAJOR_VERSION }}
          -DSMF_PLUGIN_MINOR_VERSION=${{ inputs.MINOR_VERSION }}
          -DSMF_PLUGIN_PATCH_VERSION=${{ inputs.SMF_PLUGIN_PATCH_VERSION }}

      - name: Build Plugin
        run: cmake --build build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wireshark-smf-windows-x64.zip
          path: build/smf.dll
          overwrite: true
